---
interface Props {
    title: string;
    description?: string;
    keywords?: string[];
    image?: string;
}

import Nav from "@/components/Nav.astro";
import { SEO } from "astro-seo";

const { title, description, keywords, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <SEO
            canonical={Astro.url.toString()}
            charset={"UTF-8"}
            description={description}
            openGraph={{
                basic: {
                    image: image ?? "",
                    title,
                    type: "website",
                    url: Astro.url.toString(),
                },
                optional: {
                    description,
                    siteName: "Aden Pun",
                },
            }}
            title={`${title} - Aden Pun`}
        />

        <meta name="generator" content={Astro.generator} />
        {keywords && <meta name="keywords" content={keywords.join(",")} />}

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body>
        <Nav />
        <hr />
        <slot />
        <hr />
        <footer>
            built with {Astro.generator}
        </footer>
        <style lang="scss" is:global>
            @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

            * {
                font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
            }

            body {
                background-color: #000000;
                color: #ffffff;
            }

            a {
                color: yellow;
                text-decoration: none;
            }
        </style>
    </body>
</html>
