---
interface Props {
    title: string;
    description?: string;
    image?: string;
    noindex?: boolean;
    contentSecurityPolicy?: any;
    customHead?: any;
}

import NavBar from "@/components/NavBar.astro";
import { SEO } from "astro-seo";

const { title, description, image, noindex, customHead } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <SEO
            canonical={Astro.site.toString()}
            charset={"UTF-8"}
            description={description}
            noindex={noindex}
            openGraph={{
                basic: {
                    image: image ?? "",
                    title,
                    type: "website",
                    url: Astro.site.toString(),
                },
                optional: {
                    description,
                    siteName: "adenpun.net",
                },
            }}
            title={`${title} - adenpun.net`}
        />

        <meta name="generator" content={Astro.generator} />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <style is:global>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;
        </style>
    </head>
    <body class="bg-neutral-900 font-serif text-white">
        <NavBar
            pages={[
                {
                    name: "home",
                    link: "/",
                },
            ]}
        />
        <slot />
        <hr />
        <footer>&copy; 2023 Aden Pun</footer>
    </body>
</html>
